*{
    padding:0;
    margin:0;
}
html, body{
    height: 100%;
    width: 100%;
}
/* popup.css */
iframe{
    position: absolute;
    width: 96% !important;
    z-index: 1;
}
.control-addin-container{
    height: 4rem !important;
}
#controlAddIn{
    width: 0px !important;
    height: 0px !important;
}

.popup-container {
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #0078d7;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 96%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}